<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <!-- 设置日志输出根目录 -->
    <property name="log.dir" value="${catalina.base}/logs"/>

    <property name="stdout-pattern" value="[%p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t][%c]%C:%L - %m %n"/>
    <!-- 文件历史数 -->
    <property name="max-history" value="30"/>
    <property name="max-file-size" value="100MB"/>
    <property name="encoding" value="UTF-8"/>
    <!-- logback -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${stdout-pattern}</pattern>
        </encoder>
    </appender>

    <!-- log file default -->
    <appender name="points" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.dir}/points.log</file>
        <!-- rollover daily -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/points.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 20MB -->
                <maxFileSize>${max-file-size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <MaxHistory>${max-history}</MaxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${stdout-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <!-- log file error -->
    <appender name="points_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>${stdout-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>

        <file>${log.dir}/points_error.log</file>
        <!-- rollover daily -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/points_error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 20MB -->
                <maxFileSize>${max-file-size}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <!-- keep 30 days' worth of history -->
            <MaxHistory>${max-history}</MaxHistory>

        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${stdout-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console"/>
        <appender-ref ref="points"/>
        <appender-ref ref="points_error"/>
    </root>
</configuration>