<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:dconfig="http://www.dmall.com/schema/dconfig"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.dmall.com/schema/dconfig
           http://www.dmall.com/schema/dconfig.xsd">

    <!-- mvc controller -->
    <context:annotation-config/>
    <context:component-scan base-package="com.marvinswolrd.dconfig"/>
    <context:component-scan base-package="com.marvinswolrd.spring"/>

    <bean id="beanFactoryHelper" class="com.marvinswolrd.spring.Springfactory" />
    <bean id="springContextUtil" class="com.marvinswolrd.spring.SpringContextUtil" />

    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <!-- 如果配置冲突以最后一个为准 -->
    <dconfig:config files="dconfig1.properties,dconfig2.properties" namespace="${dconfig.namespace}"/>
    <!--<dconfig:config files="dconfig/dconfig3.properties"/>-->


    <!--<context:component-scan base-package="com.marvinswolrd">-->
    <!--<context:include-filter type="annotation" expression="com.marvinswolrd.dconfig.annotation.DConfig" />-->
    <!--</context:component-scan>-->

    <!--<bean id="registerCenter" class="com.marvinswolrd.center.reg.RegisterCenter" init-method="init" />-->

    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>-->
    <!--<property name="ignoreResourceNotFound" value="true"/>-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:test1.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<context:annotation-config />-->


    <!--<bean id="propertyConfigurer1" class="com.marvinswolrd.demo.AnnotationBeanPostProcessor">-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:test1.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="dConfigBeanPostProcessor" class="com.marvinswolrd.dconfig.annotation.DConfigAnnotationProcessor"  />-->


    <!--<bean id="dConfigBeanFactoryPostProcessor" class="com.marvinswolrd.annotation.DConfigBeanFactoryPostProcessor">-->
    <!--<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>-->
    <!--<property name="ignoreResourceNotFound" value="true"/>-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:dconfig1.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->


    <!--<bean id="customAutowireConfigurer" class="org.springframework.beans.factory.annotation.CustomAutowireConfigurer">-->
    <!--<property name="customQualifierTypes">-->
    <!--<set>-->
    <!--<value>com.marvinswolrd.dconfig.annotation.DConfig</value>-->
    <!--</set>-->
    <!--</property>-->
    <!--</bean>-->

</beans>